# Byte-compiled / optimized / DLL files
__pychache__/
*.py[cod]

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
/media/
staticfiles/
.env

# VSCode
.vscode/

# Environmen
.env
venv/
ENV/
env/

# Windows
Thumbs.db