{% extends 'layouts/base.html' %}

{% block content %}

<h2>This is my website</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis officia unde, veniam similique ex tempora accusamus voluptates cumque dolorum corporis ullam molestias voluptas tenetur odit aperiam mollitia accusantium repellendus enim! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam minus nisi quibusdam vel blanditiis accusamus magnam recusandae, eligendi itaque cum. Laboriosam explicabo, aut autem voluptatibus atque eveniet repellat exercitationem similique?</p>

<h5><a href="">Contac US</a></h5>

{% endblock %}